
<div class="heading gradient-heading">
  <h1>All Articles</h1>
</div>

<%= render partial: "shared/article", collection: @articles %>

<br>

<% content_for :side_bar do %>
  <div class="heading gradient-heading">
    <% if user_signed_in? %>
      <h3>Your Articles</h3>
    <% end %>
  </div>
  <div class="side-content">
  </div>
<% end %>