
<div class="heading gradient-heading">
  <h1>News Feed</h1>
</div>

<% current_user.games.each do |game|%>
  <% game.articles.each do |article| %>
    <div class="entry">
      <div class="entry-name">
        <%= article.name %>
      </div>
      <div class="entry-content">
        <%= article.content %>
      </div>
      <div class="entry-controls">
        <% if can? :manage, article %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
<br>



<% content_for :side_bar do %>
  <div class="heading gradient-heading">
    <% if user_signed_in? %>
      <h3>Your Articles</h3>
    <% end %>
  </div>
  <div class="side-content">
  </div>
<% end %>