
<h3>That'll Learn Em</h3>

<% @articles.each do |article| %>
  <%= article.name %><hr>
  <%= article.content %><br>
<% end %>

<% content_for :side_bar do %>
	<% if user_signed_in? %>
		<strong> User Information </strong>
		<hr>
		<%= current_user.email %>
	<% else %>
		<strong> Sign In to enhance your experince </strong>
	<% end %>
<% end %>