
<div class="heading gradient-heading">
  <h1>New's Feed</h1>
</div>

<% if user_signed_in? %>
  <% @articles.each do |article| %>
    <%= article.name %><hr>
    <%= article.game.name %><br>
    <%= article.content %><br>
  <% end %>
<% else %>
    <strong> Sign in and subscribe to games to see a list of articles </strong>
<% end %>

<% content_for :side_bar do %>
	<% if user_signed_in? %>
    <div class="heading gradient-heading">
		  <h4> User Information </h4>
    </div>
		<%= current_user.email %>
	<% else %>
		<strong> Sign In to enhance your experince </strong>
	<% end %>
<% end %>