
<div class="controller-heading">
  <h3>News Feed</h3>
</div>

<div class="controller-content">
  <%= render partial: "shared/article", collection: @articles %>

  <% content_for :side_bar do %>
    <div class="heading gradient-heading">
      <h4> User Information </h4>
    </div>
    <% if user_signed_in? %>
  		<%= current_user.email %><br>
  	<% else %>
  		<strong> Sign In to enhance your experince </strong>
  	<% end %>
  <% end %>
</div>