// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Override margin for nested row classes
.row .row
{
  margin: 0;
}

.article-content
{
  .small-2
  {
    img
    {
      position: relative;
      z-index: -1;
    }
  }
}