// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#article-topic, #article-name, #article-source-icon
{
  margin-left:0px;
  padding-left: 5px;
  text-align: center;
}

#article-topic
{
}

#article-name
{
  h1,h2,h3
  {
    line-height: 10px;
  }
}

#article-image, #article-content
{
  padding-top: 5px;
}

#article-source-icon
{
  float: right;
}

#article-content
{
  margin-left: 0px;
  padding-left: 10px;
}

.flair-right
{
  border-bottom-left-radius:  4px;
  border-top-left-radius:     4px;
  background-color: #33CCFF;
  color: #fff;
  box-shadow: -1px 1px 2px #000;

  background: #469717; /* Old browsers */
  background: -moz-linear-gradient(left, #469717 0%, #338105 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#469717), color-stop(100%,#338105)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #469717 0%,#338105 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #469717 0%,#338105 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #469717 0%,#338105 100%); /* IE10+ */
  background: linear-gradient(to right, #469717 0%,#338105 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5ea2c4', endColorstr='#258dc8',GradientType=1 ); /* IE6-9 */
}

.flair-left
{
  border-bottom-right-radius:  4px;
  border-top-right-radius:     4px;
  color: #fff;
  box-shadow: 1px 1px 2px #000;

  background: #469717; /* Old browsers */
  background: -moz-linear-gradient(left,  #469717 0%, #338105 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#469717), color-stop(100%,#338105)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #469717 0%,#338105 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #469717 0%,#338105 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #469717 0%,#338105 100%); /* IE10+ */
  background: linear-gradient(to right,  #469717 0%,#338105 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70a000', endColorstr='#84c100',GradientType=1 ); /* IE6-9 */
}