// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#games-listing
{
	padding-bottom: 20px;
}

.entry
{
	padding-bottom:      15px;
}

.entry-content
{
	padding-top:50px;
}