
//Basic
$bodyBackground: #094165;
$textColor:      #ffffff;

@import "font-awesome";

.entry-controls
{
	display: inline-block;
}


.entry-name
{
	border-top-width: 1px;
	border-top-style: solid;

}

.entry
{
	padding-bottom:      15px;
}

.entry-content
{
	min-height: 200px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}