//Basic
$bodyBackground: #131213;
$textColor:      #ffffff;

//Navbar
$navbarBackground:                #2a0955;
$navbarBackgroundHighlight:       #442d64;
$navbarLinkColor:                 #ffffff;
$navbarLinkBackgroundHover:       #ff8750;
$navbarLinkBackgroundHoverActive: #4d1800;

//Components
$btnPrimaryBackground:          #2a8e31;
$btnPrimaryBackgroundHighlight: #007608;
$btnDangerBackground:			#b44736;
$btnDangerBackgroundHighlight:	#961500;


@import "bootstrap";

body 
{ 
	padding: 0px;
}

.well
{
	background-color: #353536;
	border:           0px;
	box-shadow:       0px 0px 5px #8f5fce;
}

.list-controls
{
	display: inline-block;
	float:   right;

	a 
	{
		margin-left: 10px;
		margin-right: 10px;
	}
}
@import "bootstrap-responsive";