//Basic
$bodyBackground: #49d7e5;
$textColor: #004008;

//Navbar
$navbarBackground: #4bf060;
$navbarBackgroundHighlight: #88f094;
$navbarLinkColor: #004008;

@import "bootstrap";

body { padding-top: 60px; }

@import "bootstrap-responsive";